{#
* Copyright © Lyra Network.
* This file is part of Lyra Collect plugin for Sylius. See COPYING.md for license details.
*
* @author    Lyra Network (https://www.lyra.com/)
* @copyright Lyra Network
* @license   https://opensource.org/licenses/mit-license.html The MIT License (MIT)
#}

{% set accountToken = hookable_metadata.context.accountToken %}
{% set instanceCode = hookable_metadata.context.instanceCode%}

<h1 class="ui header">
    {{ 'sylius_lyra_plugin.ui.account.saved_cards.title'|trans }}
</h1>
{% if hookable_metadata.context.accountToken %}
    {{ include ('@LyranetworkLyraPlugin/_lyraSmartform.html.twig', {'accountToken': hookable_metadata.context.accountToken}) }}
{% else %}
    {{ 'sylius_lyra_plugin.ui.account.saved_cards.error'|trans }}
{% endif %}