{#
* Copyright © Lyra Network.
* This file is part of Monetico Retail plugin for Sylius. See COPYING.md for license details.
*
* @author    Lyra Network (https://www.lyra.com/)
* @copyright Lyra Network
* @license   https://opensource.org/licenses/mit-license.html The MIT License (MIT)
#}

<div class="card bg-body-tertiary border-0 mb-3" {{ sylius_test_html_attribute('payment-item') }}>
    <label class="card-body moneticoPaymentChoiceTitle" style="display: flex;">
        {% hook 'details' %}
    </label>
    {{ include ('@LyranetworkMoneticoPlugin/_moneticoSmartform.html.twig', {'method': hookable_metadata.context.method, 'order': hookable_metadata.context.resource}) }}
</div>
