{#
 * Copyright © Lyra Network.
 * This file is part of Systempay plugin for Sylius. See COPYING.md for license details.
 *
 * @author    Lyra Network (https://www.lyra.com/)
 * @copyright Lyra Network
 * @license   https://opensource.org/licenses/mit-license.html The MIT License (MIT)
 #}

<div class="card-header">
    <div class="card-title">
        {{ 'sylius_systempay_plugin.ui.systempay_payment_options'|trans }}
    </div>
</div>

{% set form = hookable_metadata.context.form.gatewayConfig.config.systempay_payment_options_capture_delay %}

<div class="col-12">
    {{ form_row(form, sylius_test_form_attribute('config-systempay-payment-options-capture-delay')) }}
</div>