{#
 * Copyright © Lyra Network.
 * This file is part of Systempay plugin for Sylius. See COPYING.md for license details.
 *
 * @author    Lyra Network (https://www.lyra.com/)
 * @copyright Lyra Network
 * @license   https://opensource.org/licenses/mit-license.html The MIT License (MIT)
 #}

{% set form = hookable_metadata.context.form.gatewayConfig.config.systempay_rest_api_rest_check_url %}

<div class="col-12">
    {{ form_row(form, sylius_test_form_attribute('config-systempay-rest-api-rest-check-url')) }}
</div>